# App Config
NODE_ENV=production # production, development
APP_PORT=3000
APP_NAME="Dot Indonesia BE Test"
API_PREFIX=api
DOMAIN=localhost
SENTRY_DSN=  # If this is null, Sentry will be initialized, but it won't be able to catch any errors.

# PostgreSQL Config
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
# DATABASE_HOST=dot-indonesia-test-db # if using docker, comment DATABASE_HOST above
DATABASE_PORT=5432
DATABASE_NAME=dot-indonesia
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
DATABASE_SYNCHRONIZE=false #disable in production
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_URL=""
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# PgAdmin Config
PGADMIN_DEFAULT_EMAIL=admin@mail.com
PGADMIN_DEFAULT_PASSWORD=admin

# Cache Config
CACHE_TTL=60000 # 1 minute
CACHE_MAX=200
